body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body.fixed-container {
    display: block;
    overflow: hidden;

}

.load-container {
    position: absolute;
    top: 0;
    z-index: 3000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1 0 auto;
}

.parallax-action {
    width: 100%;
    height: 100%;
    padding-top: 44px;
    background: #00000050;

}

.navbar-fixed {
    top: 0;
    position: absolute;
}

.nav-wrapper {
    padding: 0 20px;
}

nav .brand-logo {
    height: 44px;
    margin-top: 5px;
    left: auto;
}

nav .brand-logo>img {
    position: relative;
    color: #fff;
    display: inline-block;
    padding: 0;
    border-radius: 10px;
    width: 136px;
    height: 34px;
}

/* contenedor de notificaciones */

#notifications.on {
    height: 200px;
}

.scrollable-container {
    overflow: hidden;
    /* Oculta el desbordamiento horizontal */
}

.scrollable-container .content {
    width: 100%;
    /* Ancho del contenido igual al del contenedor */
    /* max-height: 50%; Altura máxima del contenido igual a la del contenedor */
    overflow-y: auto;
    /* Habilita el desplazamiento vertical si es necesario */
    margin-top: -15px !important;
}

.sidenav .brand-logo {
    margin-top: -15px !important;
    margin-bottom: -15px !important;
}

.sidenav ul.content {
    max-height: 50% !important;
    /* Altura máxima del contenido igual a la del contenedor */
}

/* menu de usuario */
.dropdown-trigger img {
    width: 34px;
}

#userMenu.dropdown-content {
    width: 200px !important;
}

#userMenu.dropdown-content img {
    width: 44px;
}

#userMenu.dropdown-content b {
    font-size: 14pt;
}

#userMenu.dropdown-content div {
    margin-left: 5px;
}

#userMenu.dropdown-content .btn {
    font-size: 12px !important;
    text-transform: unset;
    background: rgb(0, 110, 255);
    color: white !important;
    height: 20px;
    width: 80px;
    padding: 0;
    line-height: 20px;
    margin-left: 0;
}

/* notificaciones */


#notifications.dropdown-content {
    width: 300px !important;
    height: 500px;
}

#notifications h5 {
    margin-top: 200px;
}

#notifications.dropdown-content img {
    width: 25px;
}

/* cartas de usuarios */

/* .carta{
    box-shadow: none;
    border-bottom: 1px solid grey;

} */
.carta img {
    height: 200px;
    object-fit: cover;
    object-position: center center;

}

.carta .card-content {
    padding: 10px;

}


.carta b {
    font-size: 12pt;

}

.carta .badge {
    color: white;
    position: absolute;
    margin-top: -40px;
    right: 20px;
}


.pagination-btn {
    font-size: 12pt !important;
    text-transform: unset;
    background: rgb(0, 110, 255);
    color: white !important;
}


#textoIndicador {
    margin-top: 5px;
    margin-left: 20px;
}

#textoIndicador b,
span {
    font-size: 14px;
}



@media only screen and (max-width:580px) {

    .nav-wrapper {
        padding: 0;
    }

    nav .brand-logo {
        height: 44px;
        margin-top: 3px;
    }

    nav .brand-logo>img {
        position: relative;
        color: #fff;
        display: inline-block;
        padding: 0;
        border-radius: 10px;
        width: 100px;
        height: 25px;
    }

    .parallax-container {
        height: 200px;
    }

    .parallax-action .brand-logo img {
        width: 150px;
    }

    .carta {
        height: 290px;
    }

    .carta img {
        height: 150px;
        object-fit: cover;
        object-position: center center;

    }

    .carta .card-content {
        padding-top: 10px;
        font-size: 10px;

    }

    #textoIndicador b,
    span {
        font-size: 10px !important;
    }


}