body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body.fixed-container {
    display: block;
    overflow: hidden;
}

main {
    flex: 1 0 auto;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.cursor-pointer {
    cursor: pointer;
}

.load-container {
    position: fixed;
    z-index: 3000;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.load-container .img{
    width: 40%;
}
.load-container .progress{
    width: 40%;
}

.navbar-fixed {
    top: 0;
    position: absolute;
}

.nav-wrapper-message {
    height: 20px;
    text-align: center;
    font-size: 10pt;
    line-height: 20px;
}

.nav-wrapper-message b {
    margin: -10px 0 !important;
}

.nav-wrapper {
    padding: 0 20px;
}

.nav-wrapper .btn-small {
    width: 25px;
    height: 25px;
    line-height: 25px;
}

nav .brand-logo {
    height: 44px;
    margin-top: 5px;
    left: auto;
}

nav .brand-logo>img {
    position: relative;
    color: #fff;
    display: inline-block;
    padding: 0;
    border-radius: 10px;
    width: 136px;
    height: 34px;
}

/* portada */
.parallax-container {
    height: 300px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 1) 90%);
}

/* contenedor de notificaciones */

#notifications {
    height: 200px;
}

/* notificaciones */

#notifications.dropdown-content {
    width: 300px !important;
    height: 500px;
}

#notifications.dropdown-content li.active {
    background: rgba(0, 119, 255, 0.4) !important;
}

#notifications.dropdown-content li a {
    padding: 3px 10px;
    pointer-events: none;
}

#notifications.dropdown-content img {
    width: 40px;
    pointer-events: none;
}

#notifications h5 {
    margin-top: 200px;
    pointer-events: none;
}

#notifications.dropdown-content span {
    font-size: 10pt;
    max-height: 3em;
    /* Ajusta según tu necesidad */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Número de líneas que deseas mostrar */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: #000;
    pointer-events: none;
    /* Agrega puntos suspensivos al final si el texto se trunca */

}

#notifications.dropdown-content b {
    font-size: 8pt;
    pointer-events: none;
}

/* hacer un elemento scrolable */
.scrollable-container {
    overflow: hidden;
    /* Oculta el desbordamiento horizontal */
}

.scrollable-container .content {
    width: 100%;
    /* Ancho del contenido igual al del contenedor */
    /* max-height: 50%; Altura máxima del contenido igual a la del contenedor */
    overflow-y: auto;
    /* Habilita el desplazamiento vertical si es necesario */
    margin-top: -15px !important;
}

/*cerrar sesion menu*/
.dropdown-trigger img {
    width: 34px;
}

#userMenu.dropdown-content {
    width: 200px !important;
}

#userMenu.dropdown-content img {
    width: 44px;
}

#userMenu.dropdown-content b {
    font-size: 14pt;
}

#userMenu.dropdown-content div {
    margin-left: 5px;
}

#userMenu.dropdown-content .btn {
    font-size: 12px !important;
    text-transform: unset;
    background: rgb(0, 110, 255);
    color: white !important;
    height: 20px;
    width: 80px;
    padding: 0;
    line-height: 20px;
    margin-left: 0;
}


.pagination-btn {
    font-size: 12pt !important;
    text-transform: unset;
    background: rgb(0, 110, 255);
    color: white !important;
}

/* cartas desplegables */
/* cartas desplegables */
/* cartas desplegables */

.contenedordecartas {
    margin-top: -230px;
    /* margin-bottom: -100px; */
}

.contenedordecartas .card {
    height: 300px;
    padding: 0;
    margin: 0;
}

.contenedordecartas .card:hover {
    z-index: 3;

}

.contenedordecartas .card img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;

}

/* desplegar carta a la derecha */
.contenedordecartas .card .card-content.display-right {
    position: absolute;
    z-index: -1;
    height: 300px;
    width: 115%;
    padding: 10px;
    margin-left: 0;
    transition: margin-left 0.5s ease;
    visibility: hidden;

}

.contenedordecartas .card:hover>.card-content.display-right {
    margin-left: 100%;
    visibility: visible;

}

/* desplegar carta a la izquierda */
.contenedordecartas .card .card-content.display-left {
    position: absolute;
    z-index: -1;
    height: 300px;
    width: 115%;
    padding: 10px;
    margin-left: 0;
    transition: margin-left 0.5s ease;
    visibility: hidden;

}

.contenedordecartas .card:hover>.card-content.display-left {
    margin-left: 100%;
    visibility: visible;

}

/* texto de las cartas display */

.contenedordecartas .card .card-content .card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* Número de líneas a mostrar */

}

.contenedordecartas .card .card-content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 9;
    /* Número de líneas a mostrar */

}

/* imagen del contenedor de informacion */
.userPhotoContainer {
    /* padding: 0 !important; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userPhotoContainer img {
    width: 100px;
}

.userPhotoContainer .btn {
    margin-top: -30px;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    margin-left: 50px;

}

.cropper-container {
    height: 400px;
}

.cropper-container img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.cropper-modal {
    background-color: rgb(255, 255, 255, 0.6) !important;
    opacity: 0.5;
}

.username {
    font-size: 28pt;
}

.view-data {
    padding: 20px !important;
}

.action-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    justify-items: right;
    padding: 20px !important;
}

.action-container a {
    margin: 6px 0;
}

.description-container {
    border: 1px solid rgb(13, 13, 26);
    border-radius: 3px;
}

.description-container textarea {
    height: 80px;
}

.modal {
    max-height: 100% !important;
}

.modal-small {
    width: 40% !important;
    border-radius: 10px;
}

.modal h5 {
    margin-left: 10px;
}

.modal-close {
    margin-right: 10px;
}

.modal .modal-content {
    padding: 0;
}

.modal .card {
    border-radius: 10px !important;
    background: rgba(255, 255, 255, 0.9);
    margin: 0 !important;
}

.modal .card .card-action div {
    border-radius: 10px !important;
    padding: 20px;
    margin: 6px 0;
}

.modal form {
    border-radius: 6px;
    margin-top: 6px;
    color: #000;
    padding: 6px 12px 6px 6px;
}

.modal form input {
    border: 2px solid white !important;
    border-radius: 6px !important;
    color: #000;
    background-color: #fff !important;
    padding-left: 4px !important;
}

.modal form select[multiple] {
    height: 200px;
}

.modal form input::placeholder {
    color: #727272;
}

.map-container {
    height: 200px;
}

.input-field p.helper-text {
    margin: -43px 0 0 10px;
}

/* agregar proyectos */

#modal-crearservicio .splide-container {
    height: 250px;
    padding: 5px;
    background: grey;
}

#modal-crearservicio .splide-container h6{
    margin-top: 25%;
    color: white;
}

#modal-crearservicio .splide__slide{
    margin: 0 3px 0 3px;
}

#modal-crearservicio .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#modal-crearservicio .splide {
    width: 100% !important;
}
#modal-crearservicio .splide__slide a {
    position: absolute !important;
    top: -7px !important;
    right: 0 !important;
    font-size: 16pt;
    color: #F44336;
    width: 20px;
    height: 20px;

}

#modal-crearservicio .splide__slide a:hover {
    color: rgb(134, 38, 38);

}

#modal-crearservicio .btns {
    margin-top: -40px;
    text-align: right;
    padding-right: 20px;
}

#modal-crearservicio .input-field input {
    background: rgb(221, 221, 221) !important;
    border-radius: 3px !important;
}

#modal-crearservicio .input-field textarea {
    background: rgb(221, 221, 221) !important;
    border-radius: 3px;
    width: 101%;
    padding: 10px 0 0 10px;
    margin-top: -15px;
}

#modal-crearservicio .input-field input::placeholder,
#modal-crearservicio .input-field textarea::placeholder {
    color: #000;
}

/* carta de imagenes */

/* .card-proyect{
    height: 300px;

} */

.card-proyect img {
    height: 200px;
    object-fit: cover;
    object-position: center center;

}

@media only screen and (max-width:580px) {

    .nav-wrapper {
        padding: 0;
    }

    nav .brand-logo {
        height: 44px;
        margin-top: 5px;
    }

    nav .brand-logo>img {
        position: relative;
        color: #fff;
        display: inline-block;
        padding: 0;
        border-radius: 10px;
        width: 120px;
        height: 30px;
    }

    .modal-small {
        width: 90% !important;
    }

    .modal .card .card-action {
        padding: 0px;
    }

    .modal .card .card-action div {
        margin: 6px 0;
        padding: 10px;
    }

    .modal form select[multiple] {
        height: 3rem;
    }

    /* cartas desplegables */
    .contenedordecartas {
        margin-top: -250px;
        margin-bottom: -100px;
        display: flex;
        flex-direction: row;
    }

    .contenedordecartas .col {
        padding: 0;
    }

    /* desplegar carta a la izquierda */
    .contenedordecartas .card .card-content.display-left {
        position: absolute;
        z-index: -1;
        height: 300px;
        width: 100%;
        padding: 10px;
        margin-left: -15%;
        transition: margin-left 0.5s ease;
        visibility: hidden;

    }

    .contenedordecartas .card:hover>.card-content.display-left {
        margin-left: -115%;
        width: 115%;
        visibility: visible;

    }

    .userPhotoContainer {
        position: relative;
    }

    .action-container {
        text-align: center;
    }

    .view-data {
        text-align: center;
    }

    .card-proyect img {
        height: 150px;

    }
}