body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;

}

body.fixed-container {
    display: block;
    overflow: hidden;
}

main {
    flex: 1 0 auto;
    height: 90vh;

}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-pildore {
    border-radius: 100px;
}

.load-container {
    position: fixed;
    z-index: 3000;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.load-container img {
    width: 40%;
}

.load-container .progress {
    width: 40%;
}

#nav,
nav {
    /* height: 10vh !important;
    line-height: 10vh !important; */
    transition: background-color 1s ease;
}

.black-transparent {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

.navbar-fixed {
    top: 0;
    position: absolute;
}


.nav-wrapper-message {
    height: 20px;
    text-align: center;
    font-size: 10pt;
    line-height: 20px;
}

.nav-wrapper-message b {
    margin: -10px 0 !important;
}

.nav-wrapper {
    padding: 0 20px;
}

.nav-wrapper #navbar svg {
    border-radius: 50%;
    box-shadow: 0 0 5px black;
}


.nav-wrapper .btn-small {
    width: 25px;
    height: 25px;
    line-height: 25px;
}

nav .brand-logo {
    height: 44px;
    margin-top: 5px;
    left: auto;
}

nav .brand-logo>img {
    position: relative;
    color: #fff;
    display: inline-block;
    padding: 0;
    border-radius: 10px;
    width: 136px;
    height: 34px;
}

/* portada */
.parallax-container {
    height: 100vh;
}

.parallax img {
    object-fit: cover;
    /* height: 150vh; */
    /* object-position: center top !important; */
    filter: blur(10px);

}

.parallax-container .subcontent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* .section {
    height: 90vh !important;
} */

/* hacer un elemento scrolable
.section .scrollable-container {
    overflow: hidden !important;
    height: 55vh;
}

.section .scrollable-container .content {
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 3px;
} */

/* informacion del usuario leido */
.contact-container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 50px;
    background-image: radial-gradient(89.01% 112.44% at 8.9% 11.35%, #ffabd8 2.59%, #fff280 38.54%, #e7ff7d 60.18%, #a4cbff 92.1%);
}

.foto-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.foto-container img {
    width: 200px;
    height: 200px;
}

.foto-container .btn {
    position: absolute;
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
    right: 15px;
    bottom: 15px;

}

/* cortar la imagen */
.cropper-container {
    height: 400px;
}

.cropper-container img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.cropper-modal {
    background-color: rgb(255, 255, 255, 0.6) !important;
    opacity: 0.5;
}

/* botones e informaciones del contenedor del usuario */
/* botones e informaciones del contenedor del usuario */
/* botones e informaciones del contenedor del usuario */

.data-container p {
    margin-top: -10px;
}

.data-container p {
    display: flex;
    flex-direction: column;
}

.data-container .data-nombre {
    font-size: 28pt;
    font-weight: bold;
}

.data-container p b {
    margin-top: -10px;
}

.data-container a.data-presentacion {
    color: #000000;
    margin-top: 20px;
}

.data-container a.data-presentacion:hover {
    color: #0086c4;
}

.chip-recoms {
    position: absolute;
    top: 20px;
    right: 10px;
}

/* botones de accion */
.action-container {
    position: absolute;
    bottom: 0;
    right: 10px;
    height: 100px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.action-container .btn-small {
    margin: 6px;
}


/* contenedor de notificaciones */
/* contenedor de notificaciones */
/* contenedor de notificaciones */

#notifications {
    height: 200px;
}

#notifications.dropdown-content {
    width: 300px !important;
    height: 500px;
}

#notifications.dropdown-content li.active {
    background: rgba(0, 119, 255, 0.4) !important;
}

#notifications.dropdown-content li a {
    padding: 3px 10px;
    pointer-events: none;
}

#notifications.dropdown-content img {
    width: 40px;
    pointer-events: none;
}

#notifications h5 {
    margin-top: 200px;
    pointer-events: none;
}

#notifications.dropdown-content span {
    font-size: 10pt;
    max-height: 3em;
    /* Ajusta según tu necesidad */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Número de líneas que deseas mostrar */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: #000;
    pointer-events: none;
    /* Agrega puntos suspensivos al final si el texto se trunca */

}

#notifications.dropdown-content b {
    font-size: 8pt;
    pointer-events: none;
}

/*cerrar sesion menu*/
/*cerrar sesion menu*/
/*cerrar sesion menu*/

.dropdown-trigger img {
    width: 34px;
    height: 34px;
}

#userMenu.dropdown-content {
    width: 200px !important;
}

#userMenu.dropdown-content img {
    width: 44px;
    height: 44px;

}

img {
    object-fit: cover;

}

#userMenu.dropdown-content b {
    font-size: 14pt;
}

#userMenu.dropdown-content div {
    margin-left: 5px;
}

#userMenu.dropdown-content .btn {
    font-size: 12px !important;
    text-transform: unset;
    background: rgb(0, 110, 255);
    color: white !important;
    height: 20px;
    width: 80px;
    padding: 0;
    line-height: 20px;
    margin-left: 0;
}

/* cartas desplegables */
/* cartas desplegables */
/* cartas desplegables */

.cartas-container {
    margin-top: -230px;
    /* margin-bottom: -100px; */
}

.cartas-container .card {
    height: 300px;
    padding: 0;
    margin: 0;
}

.cartas-container .card:hover {
    z-index: 3;

}

.cartas-container .card img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;

}

/* desplegar carta a la derecha */
.cartas-container .card .card-content.display-right {
    position: absolute;
    z-index: -1;
    height: 300px;
    width: 115%;
    padding: 10px;
    margin-left: 0;
    transition: margin-left 0.5s ease;
    visibility: hidden;

}

.cartas-container .card:hover>.card-content.display-right {
    margin-left: 100%;
    visibility: visible;

}

/* desplegar carta a la izquierda */
.cartas-container .card .card-content.display-left {
    position: absolute;
    z-index: -1;
    height: 300px;
    width: 115%;
    padding: 10px;
    margin-left: 0;
    transition: margin-left 0.5s ease;
    visibility: hidden;

}

.cartas-container .card:hover>.card-content.display-left {
    margin-left: 100%;
    visibility: visible;

}

/* texto de las cartas desplegables */

.cartas-container .card .card-content .card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* Número de líneas a mostrar */

}

.cartas-container .card .card-content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 9;
    /* Número de líneas a mostrar */

}


/* modales */
/* modales */
/* modales */

.modal {
    max-height: 100% !important;
}

.modal-small {
    width: 40% !important;
    border-radius: 10px;
}

.modal h5 {
    margin-left: 10px;
}

.modal-close {
    margin-right: 10px;
}

.modal .modal-content {
    padding: 0;
}

.modal .card {
    border-radius: 10px !important;
    background: rgba(255, 255, 255, 0.9);
    margin: 0 !important;
}

.modal .card .card-action div {
    border-radius: 10px !important;
    padding: 20px;
    margin: 6px 0;
}

.modal form {
    border-radius: 6px;
    margin-top: 6px;
    color: #000;
    padding: 6px 12px 6px 6px;
}

.modal form input {
    border: 2px solid white !important;
    border-radius: 6px !important;
    color: #000;
    background-color: #fff !important;
    padding-left: 4px !important;
}

.modal form select[multiple] {
    height: 200px;
}

.modal form input::placeholder {
    color: #727272;
}

.map-container {
    height: 200px;
}

.input-field p.helper-text {
    margin: -43px 0 0 10px;
}

/* edicion de la presentacion del usuario */
.modal .presentacion-container {
    background: rgb(206, 206, 206);
    border-radius: 10px;
    text-align: center;
}

.modal .presentacion-container textarea {
    height: 80px;
    text-align: center;
    border-bottom: 0px solid transparent !important;
}


/* menu de seleccion de ventanas del usuario */

.tabs a {
    font-size: 14pt !important;
    /* font-family: 'Vina Sans', sans-serif; */
    color: rgb(0, 0, 0) !important;
}

ul.tabs li.indicator {
    background-color: rgb(0, 102, 255) !important;
}

/* modales pequeños centrados*/

.modal-centred {
    top: 30% !important;
}

.modal-centred .btn {
    margin-top: 10px !important;
}

/* agregar y editar los servicios */
/* agregar y editar los servicios */
/* agregar y editar los servicios */

.modal-servicio {
    top: 3% !important;
    bottom: 3% !important;
}

.modal-servicio .splide-container {
    height: 300px;
    padding: 5px;
    background: grey;
}

.modal-servicio .splide-container h6 {
    margin-top: 25%;
    color: white;
}

.modal-servicio .splide__slide {
    margin: 0 3px 0 3px;
}

.modal-servicio .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-servicio .splide {
    width: 100% !important;
}

.modal-servicio .splide__slide a {
    position: absolute !important;
    top: -7px !important;
    right: 0 !important;
    font-size: 16pt;
    color: #F44336;
    width: 20px;
    height: 20px;

}

.modal-servicio .splide__slide a:hover {
    color: rgb(134, 38, 38);

}

.modal-servicio .btns {
    margin-top: -40px;
    text-align: right;
    padding-right: 20px;
}

.modal-servicio .input-field input {
    background: rgb(221, 221, 221) !important;
    border-radius: 3px !important;
}

.modal-servicio .input-field textarea {
    background: rgb(221, 221, 221) !important;
    border-radius: 3px;
    width: 101%;
    padding: 10px 0 0 10px;
    margin-top: -15px;
}

.modal-servicio .input-field input::placeholder,
.modal-servicio .input-field textarea::placeholder {
    color: #000;
}

/* poner pantalla complata las imagenes */
/* poner pantalla complata las imagenes */
/* poner pantalla complata las imagenes */

.imagen-completa {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    object-fit: contain !important;
    z-index: 9999;
    margin: 20%;
    cursor: zoom-out !important;
}

.materialboxed {
    width: 100%;
    height: 200px !important;
    margin: 10px 0;
    object-fit: cover;
    object-position: center center;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    border-radius: 10px;
}

.mis-fotos {
    position: relative;
}

/*  boton gatillo del modal en mis servicios y galeria floating top right */

a.trigger {
    position: absolute;
    top: 13px;
    right: 13px;
    float: right;
    cursor: pointer;
    /* visibility: hidden; */
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: rgb(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
}

a.trigger svg {
    pointer-events: none;
    font-size: 14pt;
}


/* boton de crear servicio */
.crear-servicio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.crear-servicio-container .header-text {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    text-shadow: none !important;
}

#crear-servicio-btn {
    /* font-size: 14pt !important;
    font-family: 'Roboto', sans-serif;
    width: 30%;
    line-height: 46px !important; */
    margin-bottom: 20px;
    padding: 0 100px;
    /* border: 2px solid #008cff;
    border-bottom: 5px solid #006797;
    top: 0;
    transition: top 0.1s, border-bottom 0.1s;
    Agregamos la propiedad transition */
}

.filter-container {
    width: 100%;
    position: relative;
    left: 0;
}

.filter-container .input-field {
    width: 150px;
    float: right;
    right: 20px;
    position: relative;
    border-radius: 10px;
}

/* agregar imagenes */
/* agregar imagenes */
/* agregar imagenes */

#modal-subir-imagenes .splide-container {
    height: 400px;
    padding: 5px;
    background: grey;
}





/* carta de servicios */
/* carta de servicios */
/* carta de servicios */
.servicios-container {
    padding: 0 !important;
    margin: 0 !important;
}

.section .col {
    padding: 0 0.25rem !important;
}

#misServicios {
    padding: 0;
}

.card-servicios {
    border-radius: 10px;
    padding: 0 !important;
}

.card-servicios img {
    height: 200px;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px 10px 0 0 !important;

}

.card-servicios .card-content+.card-reveal {
    padding: 12px;
}

@media only screen and (max-width:785px) {


    /* informacion del usuario leido */
    .foto-container {
        position: relative;
    }

    .data-container .data-nombre {
        font-size: 20pt;
        font-weight: bold;
    }

    .chip-recoms {
        top: 0;
        right: 0;
    }

    .action-container {
        position: relative;
        height: 46px;
        line-height: 46px;
        width: 75%;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        justify-items: center;
    }


}

@media only screen and (max-width:580px) {

    .nav-wrapper {
        padding: 0;
    }

    nav .brand-logo {
        height: 44px;
        margin-top: 5px;
    }

    nav .brand-logo>img {
        position: relative;
        color: #fff;
        display: inline-block;
        padding: 0;
        border-radius: 10px;
        width: 120px;
        height: 30px;
    }

    .parallax img {
        height: 200% !important;
    }

    .modal-small {
        width: 90% !important;
    }

    .modal .card .card-action {
        padding: 0px;
    }

    .modal .card .card-action div {
        margin: 6px 0;
        padding: 10px;
    }

    .modal form select[multiple] {
        height: 3rem;
    }

    /* cartas desplegables */
    .cartas-container {
        margin-top: -250px;
        margin-bottom: -100px;
        display: flex;
        flex-direction: row;
    }

    .cartas-container .col {
        padding: 0;
    }

    /* desplegar carta a la izquierda */
    .cartas-container .card .card-content.display-left {
        position: absolute;
        z-index: -1;
        height: 300px;
        width: 100%;
        padding: 10px;
        margin-left: -15%;
        transition: margin-left 0.5s ease;
        visibility: hidden;

    }

    .cartas-container .card:hover>.card-content.display-left {
        margin-left: -115%;
        width: 115%;
        visibility: visible;

    }


    .action-container {
        width: 100%;
    }

    .card-servicios img {
        height: 150px;

    }
}