body {
    display: block;
    overflow: hidden;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
    padding: 20px;
}

.sign-content{
   height: 90vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.backBtncont{
    width: 95%;
    margin-top: 20px;
}

.btn{
    font-size: 16pt;
}

@media only screen and  (max-width:580px){
    main {
        flex: 0 auto;
        padding: 0;
    }
    
.sign-content{
   height: 100vh;
}
}