body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding: 16px 0;
}

nav .brand-logo>img {
    position: relative;
    color: #fff;
    display: inline-block;
    padding: 0;
    border-radius: 10px;
    width: 160px;
    height: 64px;
}

.scrollable-container {
    overflow: hidden;
    /* Oculta el desbordamiento horizontal */
}

.scrollable-container .content {
    width: 100%;
    /* Ancho del contenido igual al del contenedor */
    /* max-height: 50%; Altura máxima del contenido igual a la del contenedor */
    overflow-y: auto;
    /* Habilita el desplazamiento vertical si es necesario */
    margin-top: -15px !important;
}

.sidenav .brand-logo{
    margin-top: -15px !important;
    margin-bottom: -15px !important;
}

.sidenav ul.content {
    max-height: 50% !important;
    /* Altura máxima del contenido igual a la del contenedor */
}

/* carrusel */
/* carrusel */
/* carrusel */

#caruselFullScreen .splide__slide{
    width: 100%;
    height: 400px;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.load-windous {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and  (max-width:580px){
    nav .brand-logo>img {
        position: relative;
        color: #fff;
        display: inline-block;
        padding: 0;
        border-radius: 10px;
        width: 140px;
        height: 55px;
    }
    
}